:root {
    --primary-text-color: color: #434455;
    --title-text-color:color: #2E2F42;
    --accent-color:#404BBF;
    --background-color: #FFFFFF;
    --card-set-gap: 20px;
    --transition-dur-and-func:250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

body {
    background-color :var(--background-color);
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

h1,h2,h3,h4,h5,p {
    margin: 0;
}
.link {
    text-decoration: none;
}

.list {
    padding: 0;
    margin: 0;

    list-style: none;

}
img {
    display: block;
    max-width: 100%;
    height: auto;

}
/*-----------------------------------HEADER---------------------------------*/
.conteiner {
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
    width: 1158px;
    
    
}
.page-header {
    border-bottom: 1px solid #E7E9FC;

}
.main-nav {
    display: flex;
    align-items: center;
    
}
.logo {
    padding-top: 24px;
    padding-bottom: 24px;
    
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    
    color: var(--title-text-color);
    margin-right: 76px;
    
}

.logo-part {
color: #4D5AE5;
}

.site-nav {
    display: flex;
    margin-left: auto;
    
}


.site-nav .item:last-child {
margin-right: 0;
}

.site-nav .item+ .item {
    margin-left: 40px;
}


.nav-link {
   position: relative;
    padding-top: 24px;
    padding-bottom:24px ;
    
    display: block;
    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
   
    color:var(--title-text-color);
    transition: color var(--transition-dur-and-func);

}
.link-studio::after
{
    position: absolute;
    display: block;
    content: "";
    height:4px ;
    width: 100%;
    background-color: var(--accent-color);
    border-radius: 2px;
    
    left: 0;
    bottom: 0;
    transition: opacity var(--transition-dur-and-func);
    
}
.link-studio{
    color: var(--accent-color);
}
.link-portfolio::after {
    position: absolute;
    display: block;
    content: "";
    height: 4px;
    width: 100%;
    background-color: var(--accent-color);
    border-radius: 2px;
    margin-top: 24px;
    left: 0;
    bottom: 0;
transition: opacity var(--transition-dur-and-func);

}
.link-portfolio{
    color: var(--accent-color);
}


.nav-link:hover,
.nav-link:focus
{
    color: var(--accent-color);
}

.info-nav {
    display: flex;
    margin-left:auto;

}
.info-nav .item+ .item {
    margin-left: 40px;
}
.info-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
   
    color: var(--primary-text-color);
    transition: color var(--transition-dur-and-func);
    
}

.info-link:hover,
.info-link:focus {
    color: var(--accent-color);
}
/*--------------------------------------BODY-----------------------------------*/
.hero {
    padding-top: 188px;
    padding-bottom: 188px;
    background-color: #2E2F42;
    background-image: 
    linear-gradient(rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
    
    url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
}

.hero-title {
  
  width: 496px;
  margin: 0 auto;

  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;

color: #FFFFFF;

}

.button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  cursor: pointer;
  letter-spacing: 0.04em;
 
  color: #FFFFFF;
  background-color: #4D5AE5;

  margin-top: 48px;
  border-radius: 4px;
  border: none;
  padding: 16px 32px;
  display: inline-block;
  text-align: center;
  transition: color var(--transition-dur-and-func),
  background-color var(--transition-dur-and-func)
  

}
.button:hover,
.button:focus {
    background-color: var(--accent-color);
    color: #FFFFFF;
}

.feature-section {
    padding: 120px 0 ;
}
.hidden-title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0,0,0,0);
    overflow: hidden;
}

.feature-list {
display: flex;
}
.feature-item {

    width: 264px;
    margin-right: 24px;
    
}
.feature-item:last-child {
margin-right: 0;
}


.feature-item::before {

    display:block;
    content:"" ;
    height: 112px;
    
    background-size: 64px 64px;
    background-repeat: no-repeat ;
    background-position:center ;
    background-color: #F4F4FD;
    border-radius: 4px;
    margin-bottom: 8px;
    
}
.strategy-icon::before{
    background-image: url(../images/antenna\ 1\(3\).svg);
}

.punctuality-icon::before{
    background-image: url(../images/clock\ 1\(2\).svg);
}
.diligence-icon::before{
    background-image: url(../images/diagram\ 1\(3\).svg);
}
.technologies-icon::before{
    background-image: url(../images/astronaut\ 1\(2\).svg);
}

.feature-title {
    
    margin-bottom: 8px;

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;

    color: var(--title-text-color);
}

.feature-text {
   
    
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: var(--primary-text-color);
}
.team {
   background-color: #F4F4FD;
}

.team-title {
 margin-bottom: 72px;
  
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
letter-spacing: 0.02em;

  color: var(--title-text-color);
}
.activity-section {
    padding-bottom: 120px;
}
.activity-list {
    display: flex;
}

.img:last-child {
    margin-right: 0;
}
.img {
    margin-right: 24px;
    width: 360px;
    border: 1px solid #E7E9FC;
}


.team {
    padding-top: 120px;
    padding-bottom: 120px;
    
}
.team-list {
    display: flex;
}
.team-pic{
    width: 264px;
margin-right: 24px;

background-color:#FFFFFF;
box-shadow: 0px 1px 6px 0px
 rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px 
     rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px 
     rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;

}


.team-pic:last-child {
    margin-right: 0;
}

.team-subtitle {
 margin-bottom: 5px;

  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;

  color: var(--title-text-color);
}

.team-text {
    
   margin-bottom: 8px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    
    color: var(--primary-text-color);
    

}
.card-cont {
    padding: 32px 16px;
}
/*
.card-cont{
    box-shadow: 0px 1px 6px 0px
     rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px
       rgba(46, 47, 66, 0.16), 
       0px 2px 1px 0px
        rgba(46, 47, 66, 0.08);
        border-radius: 0px 0px 4px 4px;
}
*/
.team-soc-list{
    display: flex;
    justify-content: center;
    gap: 24px;
}
.team-soc-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4D5AE5;
    transition: background-color var(--transition-dur-and-func);

}
.team-soc-link:hover,
.team-soc-link:focus {
background-color: var(--accent-color)
}
/*
.team-soc-list {
display: flex;
justify-content: space-between;
width: 232px;
height: 40px;

margin: 0;
padding: 0;

}
.team-soc-link{
   display: block;
   width: 40px;
   height: 40px;
   border-radius: 50%;
   background-color: #4D5AE5;
}

.instagram{
    background-image: url(../images/instagram\ 2\(1\).svg);
    background-repeat: no-repeat;
        background-position: center;
        background-size: 16px 16px;
}
.twitter{
    background-image: url(../images/twitter\ 1\(1\).svg);
    background-repeat: no-repeat;
        background-position: center;
        background-size: 16px 16px;
}
.facebook{
    background-image: url(../images/facebook\ 1\(1\).svg);
    background-repeat: no-repeat;
        background-position: center;
        background-size: 16px 16px;
}

.linkedin{
    background-image: url(../images/linkedin\ 1\(1\).svg);
    background-repeat: no-repeat;
        background-position: center;
        background-size: 16px 16px;
}
*/
.customers{
    padding-top: 120px;
    padding-bottom: 120px;
  
}

.customer-list{
    display: flex;
    gap: 24px;
}

.customer-item{
    width: calc((100% - 168px) / 6);
    height: 88px;
}

.customer-link{
    width: 100%;
    height: 100%;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8e8f99;
    transition: color var(--transition-dur-and-func), border-color var(--transition-dur-and-func);
      
}

.customer-icon{
   fill: currentColor; 
}
.customer-link:is(:hover, :focus) {
    border-color: var(--accent-color);
   color: var(--accent-color);
}
/*
.customer-icon:hover, 
.customer-icon:focus {
    fill: var(--accent-color);
}

.customer-link:is(:hover, :focus) .customer-icon {
    fill: var(--accent-color);

}
*/

/*-----------------------------------FOOTER-----------------------------------*/
.footer {
    background-color: #2E2F42;
    padding: 100px 0;
}

.logo-footer {
  margin-bottom: 16px;
  display: inline-block;

    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;

    color: #F4F4FD;
}

.footer-text {

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: #E7E9FC;
  width: 264px;
}
.footer-title {
    margin-bottom: 16px;
    width: 96px;
    height: 24px;
    align-items: center;

   font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
}
.footer-soc-list {
    display: flex;
    gap: 16px;
}

.footer-soc-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color var(--transition-dur-and-func);
}
.footer-soc-link:hover, 
.footer-soc-link:focus{
    background-color: #31D0AA;
}

.footer-soc {
    display: block;
    justify-content: center;
    align-items: center;
}
.footer-social{
    display: flex;
}
.footer-soc-logo{
    margin-right: 120px;
}
/*---------------------------------Стилі для Portfolio----------------------------*/

/*------------------BODY-----------------------*/

.menu {
    padding: 96px 0 120px;
}
.visually-hidden {
   position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 ,0 ,0 ,0);
    overflow: hidden;
}

.menu-item {
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
}

.menu-item:last-child {
 margin-right: 0;
}

.menu-item .btn {
 
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
    letter-spacing: 0.04em;
    background-color: #F4F4FD;
    color: #4D5AE5;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    padding: 12px 24px;
    transition: color var(--transition-dur-and-func),
    background-color var(--transition-dur-and-func),
    box-shadow var(--transition-dur-and-func),
    border-color var(--transition-dur-and-func);
}

.btn-list {
    margin-right: 24px;
    
}

.btn:focus,
.btn:hover {
    background-color: var(--accent-color);
    color: #FFFFFF;
    border-color: transparent;
    border-radius: 4px;
    box-shadow: 0px 3px 1px 0px
    rgba(0, 0, 0, 0.1), 
    0px 2px 1px 0px
    rgba(0, 0, 0, 0.08), 
    0px 2px 2px 0px
     rgba(0, 0, 0, 0.12);
     
     
}


.services-item .title {
    
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  color: var(--title-text-color);
   
}

.title {
    margin-bottom: 8px;

}
.card-conteiner .text {
    
    font-size: 16px;
    line-height: 1.5;   
    color: var(--primary-text-color);
    
}


.services-list {
list-style: none;
padding: 0;
margin: 0;
margin-left: -24px;
margin-top: -48px;
display: flex;
flex-wrap: wrap;
}

.services-list .services-item {
flex-basis: calc(100%/3 - 24px);
margin-left: 24px;
margin-top: 48px;

}

.card-conteiner {
    padding: 32px 16px;
    border: 1px solid #E7E9FC;
    border-top: none;
}

.services-item{
    border: 1px solid #E7E9FC;
    box-shadow: 0px 1px 6px 0px 
  rgba(46, 47, 66, 0.08);
  position: relative;
  transition: box-shadow var(--transition-dur-and-func);
        
}
/*
.services-link :hover,
.services-link :focus{
    box-shadow: 0px 1px 6px 0px 
    rgba(46, 47, 66, 0.08), 
    0px 1px 1px 0px
    rgba(46, 47, 66, 0.16),
     0px 2px 1px 0px
     rgba(46, 47, 66, 0.08);
}
*/

    
.services-link{
    text-decoration: none;
    color: var(--primary-text-color);
    display: block;
    transition: box-shadow var(--transition-dur-and-func);
    

}

.services-link:hover,
.services-link:focus{
box-shadow: 0px 1px 6px 0px
 rgba(46, 47, 66, 0.08),
0px 1px 1px 0px 
rgba(46, 47, 66, 0.16),
     0px 2px 1px 0px 
    rgba(46, 47, 66, 0.08);
    
}
.pic-overlay{
position: relative;
overflow: hidden;
}
.overlay{
    position: absolute;
    background-color: #4D5AE5;
    color: #F4F4FD;
    font-size: 16px;
    letter-spacing: 0.02em;
    width: 100%;
    height: 100%;
    padding-top: 40px;
    padding-right: 32px;
    padding-left: 32px;
    padding-bottom: 164px;
    top: 0;
    right: 0;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2,1);
    transform: translate(0,101%);
}
.services-link:hover .overlay,
.services-link:focus .overlay

 {
transform: translate(0,0);
}
/*---------------------MODAL WINDOW--------------*/
.backdrop{
position: fixed;
top:0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(46, 47, 66, 0.4);
z-index: 100; 
transition: opacity var(--transition-dur-and-func),visibility var(--transition-dur-and-func);
}
.backdrop.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.modal{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
width: 408px;
height: 576px;
background-color: #FCFCFC;
box-shadow: 0px 1px 1px 0px
 rgba(0, 0, 0, 0.14),
  0px 1px 3px 0px
 rgba(0, 0, 0, 0.12), 
  0px 2px 1px 0px 
 rgba(0, 0, 0, 0.2);
 border-radius: 4px;
position: absolute;

}

.modal-close-btn{
 position: absolute;
top: 24px;
right: 24px;
 display: flex;
 justify-content: center;
align-items: center;
width: 24px;
height: 24px;
cursor: pointer;
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 50%;
background-color: #E7E9FC;

transition: background-color var(--transition-dur-and-func);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
 background-color:var(--accent-color);
}

.modal-close-icon{
    background-color: transparent;
    width: 8px;
    height: 8px;
    transition: fill var(--transition-dur-and-func);
}
.modal-close-btn:hover .modal-close-icon, 
.modal-close-btn:focus .modal-close-icon {
    fill: #FFFFFF;
}